@mixin cols-mix($y) {
    flex-basis: pc-width($y);
}

@mixin base-light($color) {
    background-color: lighten($color, 25%);
}

@mixin default-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}