

.container {
    padding: 0 10px;
    @media(min-width: $bp-tablet) {
        max-width: 1400px;
        @include default-display;
    }
  }

@media(min-width: $bp-tablet) {
    .centered {
        @include default-display;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media(min-width: $bp-tablet) {
        flex-direction: row;
    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media(min-width: $bp-tablet) {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
    }
    & + & {
        @media(min-width: $bp-tablet) {
            margin-left: 10px;
        }
    }
}

.theme.col-1 {
    background-color: $bg-color-col1;
}

.theme.col-2 {
    background-color: $bg-color-col2;
}

.theme.col-3 {
    background-color: $bg-color-col3;
}

.theme.col-4 {
    background-color: $bg-color-col4;
}

.theme.col-5 {
    background-color: $bg-color-col5;
}

.theme.col-6 {
    background-color: $bg-color-col6;
}

.theme.col-7 {
    background-color: $bg-color-col7;
}

.theme.col-8 {
    background-color: $bg-color-col8;
}

.theme.col-9 {
    background-color: $bg-color-col9;
}

.theme.col-10 {
    background-color: $bg-color-col10;
}

.theme.col-11 {
    background-color: $bg-color-col11;
}

.theme.col-12 {
    background-color: $bg-color-col12;
}

.card {
    flex-basis: 100%;
}

@media(min-width: $bp-tablet) {
    @for $i from 1 through 12 {
        .col-#{$i} {
            @include cols-mix($i);
        }
    }
}

